.Header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    background-color: blanchedalmond;
    
    text-align: center;
} 


#name{
    justify-content: center;
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: rgb(0, 0, 0);
    font-size: 40px;

    box-sizing: border-box;
    cursor: pointer;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 80px;

}

.Buttons:hover{
    cursor: pointer;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid #ffffff;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
    margin-right: 10px;
    cursor : pointer;
}

.box{
    background-color: #ffffff;
    border: 2px solid  rgb(0, 0, 0);
}

.box:hover{
    background-color: #e4e4e4;
   
    color: black;
}

.speed{
   text-align:center;
   padding: 20px;; 
}
#speed{
    text-align : center;
    font-size: 20px;
    font-weight: bold;

}
label{
    font-size: xx-large;
    font-weight: bold;
    margin-right: 20px;
}

.bl{
    border-left: 7px solid black;
}

.bb{
    border-bottom: 7px solid black;
}

.br{
    border-right:7px solid black;
}

.bt{
    border-top: 7px solid black;
}